n8n_workflows/Doc_QA_Generation_HA_IMPORTAR.json
{
  "name": "Doc_QA_Generation_HA_IMPORTAR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-generation",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "af76fa2f-c594-4884-af27-024ae49312d4",
      "name": "Webhook Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1232,
        1200
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "33d67c4f-0c94-489d-98d4-3db7a84b1634",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1856,
        1504
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"titulo\": {\n            \"type\": \"string\"\n          },\n          \"pre_condicoes\": {\n            \"type\": \"string\"\n          },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\n                  \"type\": \"number\"\n                },\n                \"acao\": {\n                  \"type\": \"string\"\n                },\n                \"resultado_esperado\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"numero\",\n                \"acao\",\n                \"resultado_esperado\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"titulo\",\n          \"pre_condicoes\",\n          \"passos\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"casos_de_teste\"\n  ]\n}"
      },
      "id": "3a760b5a-9a4b-4dbc-81d5-82e4b8a96f94",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        2016,
        1504
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "bee2a8c9-3231-4cd1-9204-6d9fbeacb640",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2272,
        1600
      ],
      "credentials": {
        "groqApi": {
          "id": "w1DzJ09lU56BjXqQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"titulo\": {\n            \"type\": \"string\"\n          },\n          \"pre_condicoes\": {\n            \"type\": \"string\"\n          },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\n                  \"type\": \"number\"\n                },\n                \"acao\": {\n                  \"type\": \"string\"\n                },\n                \"resultado_esperado\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"numero\",\n                \"acao\",\n                \"resultado_esperado\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"titulo\",\n          \"pre_condicoes\",\n          \"passos\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"casos_de_teste\"\n  ]\n}"
      },
      "id": "a70afb31-ab7e-4ad5-9697-46321fbe78bb",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        2432,
        1600
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "aeaec3a8-107a-4927-b2e7-316c3df09833",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        3360,
        1168
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura, base obrigatória para os casos de teste:\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento, na matriz ou nos esclarecimentos.\n6. Cada caso deve conter exatamente os campos:\n   - id: ex. TC-001, TC-002\n   - titulo\n   - pre_condicoes\n   - passos: array de objetos com numero, acao e resultado_esperado\n7. Cada passo deve conter:\n   - numero: inteiro sequencial começando em 1\n   - acao: ação objetiva do testador, iniciando com verbo no infinitivo\n   - resultado_esperado: comportamento esperado do sistema após a ação\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"casos_de_teste\".\nExemplo de formato:\n{\n  \"casos_de_teste\": [\n    {\n      \"id\": \"TC-001\",\n      \"titulo\": \"Título do caso de teste\",\n      \"pre_condicoes\": \"Dado que o usuário está autenticado\",\n      \"passos\": [\n        {\n          \"numero\": 1,\n          \"acao\": \"Acessar a funcionalidade\",\n          \"resultado_esperado\": \"O sistema exibe a tela esperada\"\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "b2c998bc-469b-479c-8559-a9096cf50533",
      "name": "OpenAI Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1456,
        1200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"titulo\": {\n            \"type\": \"string\"\n          },\n          \"pre_condicoes\": {\n            \"type\": \"string\"\n          },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\n                  \"type\": \"number\"\n                },\n                \"acao\": {\n                  \"type\": \"string\"\n                },\n                \"resultado_esperado\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"numero\",\n                \"acao\",\n                \"resultado_esperado\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"titulo\",\n          \"pre_condicoes\",\n          \"passos\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"casos_de_teste\"\n  ]\n}"
      },
      "id": "fea3f601-12a7-4603-8d42-4c67590aa078",
      "name": "Output Parser OpenAI",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1632,
        1392
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1456,
        1392
      ],
      "id": "6368dbbf-f705-4edd-851c-3b9b2389255f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura, base obrigatória para os casos de teste:\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento, na matriz ou nos esclarecimentos.\n6. Cada caso deve conter exatamente os campos:\n   - id: ex. TC-001, TC-002\n   - titulo\n   - pre_condicoes\n   - passos: array de objetos com numero, acao e resultado_esperado\n7. Cada passo deve conter:\n   - numero: inteiro sequencial começando em 1\n   - acao: ação objetiva do testador, iniciando com verbo no infinitivo\n   - resultado_esperado: comportamento esperado do sistema após a ação\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"casos_de_teste\".\nExemplo de formato:\n{\n  \"casos_de_teste\": [\n    {\n      \"id\": \"TC-001\",\n      \"titulo\": \"Título do caso de teste\",\n      \"pre_condicoes\": \"Dado que o usuário está autenticado\",\n      \"passos\": [\n        {\n          \"numero\": 1,\n          \"acao\": \"Acessar a funcionalidade\",\n          \"resultado_esperado\": \"O sistema exibe a tela esperada\"\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "a1c0d377-9941-46a7-8e3e-b5ef415586fb",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1856,
        1312
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura, base obrigatória para os casos de teste:\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento, na matriz ou nos esclarecimentos.\n6. Cada caso deve conter exatamente os campos:\n   - id: ex. TC-001, TC-002\n   - titulo\n   - pre_condicoes\n   - passos: array de objetos com numero, acao e resultado_esperado\n7. Cada passo deve conter:\n   - numero: inteiro sequencial começando em 1\n   - acao: ação objetiva do testador, iniciando com verbo no infinitivo\n   - resultado_esperado: comportamento esperado do sistema após a ação\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"casos_de_teste\".\nExemplo de formato:\n{\n  \"casos_de_teste\": [\n    {\n      \"id\": \"TC-001\",\n      \"titulo\": \"Título do caso de teste\",\n      \"pre_condicoes\": \"Dado que o usuário está autenticado\",\n      \"passos\": [\n        {\n          \"numero\": 1,\n          \"acao\": \"Acessar a funcionalidade\",\n          \"resultado_esperado\": \"O sistema exibe a tela esperada\"\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "6b6cd021-c130-467c-bd02-f2967e33f7d9",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2272,
        1392
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "0f92e7ea-54de-4c05-8a71-7a0a9c25660e",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        2656,
        1680
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"titulo\": {\n            \"type\": \"string\"\n          },\n          \"pre_condicoes\": {\n            \"type\": \"string\"\n          },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\n                  \"type\": \"number\"\n                },\n                \"acao\": {\n                  \"type\": \"string\"\n                },\n                \"resultado_esperado\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"numero\",\n                \"acao\",\n                \"resultado_esperado\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"titulo\",\n          \"pre_condicoes\",\n          \"passos\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"casos_de_teste\"\n  ]\n}"
      },
      "id": "3d48f33a-c482-4613-928c-426d63376e3f",
      "name": "Output Parser Groq1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        2816,
        1680
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura, base obrigatória para os casos de teste:\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento, na matriz ou nos esclarecimentos.\n6. Cada caso deve conter exatamente os campos:\n   - id: ex. TC-001, TC-002\n   - titulo\n   - pre_condicoes\n   - passos: array de objetos com numero, acao e resultado_esperado\n7. Cada passo deve conter:\n   - numero: inteiro sequencial começando em 1\n   - acao: ação objetiva do testador, iniciando com verbo no infinitivo\n   - resultado_esperado: comportamento esperado do sistema após a ação\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"casos_de_teste\".\nExemplo de formato:\n{\n  \"casos_de_teste\": [\n    {\n      \"id\": \"TC-001\",\n      \"titulo\": \"Título do caso de teste\",\n      \"pre_condicoes\": \"Dado que o usuário está autenticado\",\n      \"passos\": [\n        {\n          \"numero\": 1,\n          \"acao\": \"Acessar a funcionalidade\",\n          \"resultado_esperado\": \"O sistema exibe a tela esperada\"\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "ef992a66-dd97-44a6-8112-aa9870ea2089",
      "name": "Groq Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2656,
        1472
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        3008,
        1696
      ],
      "id": "6f6f2a1c-ecba-4e00-81ae-2e420c80cfbc",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura, base obrigatória para os casos de teste:\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento, na matriz ou nos esclarecimentos.\n6. Cada caso deve conter exatamente os campos:\n   - id: ex. TC-001, TC-002\n   - titulo\n   - pre_condicoes\n   - passos: array de objetos com numero, acao e resultado_esperado\n7. Cada passo deve conter:\n   - numero: inteiro sequencial começando em 1\n   - acao: ação objetiva do testador, iniciando com verbo no infinitivo\n   - resultado_esperado: comportamento esperado do sistema após a ação\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"casos_de_teste\".\nExemplo de formato:\n{\n  \"casos_de_teste\": [\n    {\n      \"id\": \"TC-001\",\n      \"titulo\": \"Título do caso de teste\",\n      \"pre_condicoes\": \"Dado que o usuário está autenticado\",\n      \"passos\": [\n        {\n          \"numero\": 1,\n          \"acao\": \"Acessar a funcionalidade\",\n          \"resultado_esperado\": \"O sistema exibe a tela esperada\"\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "dcc49949-5235-4982-8724-22d090feb70c",
      "name": "Mistral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3008,
        1504
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"titulo\": {\n            \"type\": \"string\"\n          },\n          \"pre_condicoes\": {\n            \"type\": \"string\"\n          },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\n                  \"type\": \"number\"\n                },\n                \"acao\": {\n                  \"type\": \"string\"\n                },\n                \"resultado_esperado\": {\n                  \"type\": \"string\"\n                }\n              },\n              \"required\": [\n                \"numero\",\n                \"acao\",\n                \"resultado_esperado\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"titulo\",\n          \"pre_condicoes\",\n          \"passos\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"casos_de_teste\"\n  ]\n}"
      },
      "id": "21a4b5dd-8088-4952-8b71-a0312ed885b0",
      "name": "Output Parser Groq2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        3184,
        1696
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Generation": {
      "main": [
        [
          {
            "node": "OpenAI Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser OpenAI": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq2": {
      "ai_outputParser": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "tags": []
}
