n8n_workflows/Doc_QA_Matrix_HA_IMPORTAR.json
{
  "name": "Doc_QA_Matrix_HA_IMPORTAR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-matrix",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d20f6a6f-bafe-4b44-b62d-9375b2b079b4",
      "name": "Webhook Matrix",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        544,
        192
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "2a424c72-ca9c-4ed4-bba3-d744be4ac5d7",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1136,
        464
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"funcionalidade\": {\n            \"type\": \"string\"\n          },\n          \"requisito\": {\n            \"type\": \"string\"\n          },\n          \"cenario\": {\n            \"type\": \"string\"\n          },\n          \"categoria\": {\n            \"type\": \"string\"\n          },\n          \"prioridade\": {\n            \"type\": \"string\"\n          },\n          \"criticidade\": {\n            \"type\": \"string\"\n          },\n          \"observacoes\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"id\",\n          \"funcionalidade\",\n          \"requisito\",\n          \"cenario\",\n          \"categoria\",\n          \"prioridade\",\n          \"criticidade\",\n          \"observacoes\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"matriz\"\n  ]\n}"
      },
      "id": "4badfceb-1959-4001-8d1a-6bbfe27e6ab6",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1296,
        464
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "10766ff3-9152-48c7-a6f0-25a19beb35f8",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1536,
        544
      ],
      "credentials": {
        "groqApi": {
          "id": "w1DzJ09lU56BjXqQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"funcionalidade\": {\n            \"type\": \"string\"\n          },\n          \"requisito\": {\n            \"type\": \"string\"\n          },\n          \"cenario\": {\n            \"type\": \"string\"\n          },\n          \"categoria\": {\n            \"type\": \"string\"\n          },\n          \"prioridade\": {\n            \"type\": \"string\"\n          },\n          \"criticidade\": {\n            \"type\": \"string\"\n          },\n          \"observacoes\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"id\",\n          \"funcionalidade\",\n          \"requisito\",\n          \"cenario\",\n          \"categoria\",\n          \"prioridade\",\n          \"criticidade\",\n          \"observacoes\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"matriz\"\n  ]\n}"
      },
      "id": "7da9fe79-55da-4676-8f82-131d2c3bf6e3",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1696,
        544
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "18ca4371-e137-4151-889f-1aa56b701a8a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2752,
        160
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id: ex. MC-001, MC-002\n   - funcionalidade\n   - requisito\n   - cenario\n   - categoria\n   - prioridade\n   - criticidade\n   - observacoes\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"matriz\".\nExemplo de formato:\n{\n  \"matriz\": [\n    {\n      \"id\": \"MC-001\",\n      \"funcionalidade\": \"Nome da funcionalidade\",\n      \"requisito\": \"RF-001\",\n      \"cenario\": \"Descrição objetiva do cenário\",\n      \"categoria\": \"Fluxo Principal\",\n      \"prioridade\": \"Alta\",\n      \"criticidade\": \"Alta\",\n      \"observacoes\": \"-\"\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "e5959d3e-6933-4344-b78b-c0b2ec2debbb",
      "name": "OpenAI Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        784,
        192
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id: ex. MC-001, MC-002\n   - funcionalidade\n   - requisito\n   - cenario\n   - categoria\n   - prioridade\n   - criticidade\n   - observacoes\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"matriz\".\nExemplo de formato:\n{\n  \"matriz\": [\n    {\n      \"id\": \"MC-001\",\n      \"funcionalidade\": \"Nome da funcionalidade\",\n      \"requisito\": \"RF-001\",\n      \"cenario\": \"Descrição objetiva do cenário\",\n      \"categoria\": \"Fluxo Principal\",\n      \"prioridade\": \"Alta\",\n      \"criticidade\": \"Alta\",\n      \"observacoes\": \"-\"\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "785ff717-1e2b-46e8-92c8-039200135b52",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1136,
        272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id: ex. MC-001, MC-002\n   - funcionalidade\n   - requisito\n   - cenario\n   - categoria\n   - prioridade\n   - criticidade\n   - observacoes\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"matriz\".\nExemplo de formato:\n{\n  \"matriz\": [\n    {\n      \"id\": \"MC-001\",\n      \"funcionalidade\": \"Nome da funcionalidade\",\n      \"requisito\": \"RF-001\",\n      \"cenario\": \"Descrição objetiva do cenário\",\n      \"categoria\": \"Fluxo Principal\",\n      \"prioridade\": \"Alta\",\n      \"criticidade\": \"Alta\",\n      \"observacoes\": \"-\"\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "e5802bdd-c8fc-4474-b549-51a7c86d5d49",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1536,
        336
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        784,
        368
      ],
      "id": "354e0c1f-8643-4fdf-93fe-e7d87aeb1232",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"funcionalidade\": {\n            \"type\": \"string\"\n          },\n          \"requisito\": {\n            \"type\": \"string\"\n          },\n          \"cenario\": {\n            \"type\": \"string\"\n          },\n          \"categoria\": {\n            \"type\": \"string\"\n          },\n          \"prioridade\": {\n            \"type\": \"string\"\n          },\n          \"criticidade\": {\n            \"type\": \"string\"\n          },\n          \"observacoes\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"id\",\n          \"funcionalidade\",\n          \"requisito\",\n          \"cenario\",\n          \"categoria\",\n          \"prioridade\",\n          \"criticidade\",\n          \"observacoes\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"matriz\"\n  ]\n}"
      },
      "id": "d128265f-b349-4d4c-89c6-37fed51b8353",
      "name": "Output Parser OpenAI",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        944,
        368
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "22f9b744-28c0-4e3e-915a-683e120538de",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1904,
        608
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"funcionalidade\": {\n            \"type\": \"string\"\n          },\n          \"requisito\": {\n            \"type\": \"string\"\n          },\n          \"cenario\": {\n            \"type\": \"string\"\n          },\n          \"categoria\": {\n            \"type\": \"string\"\n          },\n          \"prioridade\": {\n            \"type\": \"string\"\n          },\n          \"criticidade\": {\n            \"type\": \"string\"\n          },\n          \"observacoes\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"id\",\n          \"funcionalidade\",\n          \"requisito\",\n          \"cenario\",\n          \"categoria\",\n          \"prioridade\",\n          \"criticidade\",\n          \"observacoes\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"matriz\"\n  ]\n}"
      },
      "id": "63ab0fb2-08cd-4262-9af1-239c8e632e53",
      "name": "Output Parser Groq1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        2064,
        608
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id: ex. MC-001, MC-002\n   - funcionalidade\n   - requisito\n   - cenario\n   - categoria\n   - prioridade\n   - criticidade\n   - observacoes\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"matriz\".\nExemplo de formato:\n{\n  \"matriz\": [\n    {\n      \"id\": \"MC-001\",\n      \"funcionalidade\": \"Nome da funcionalidade\",\n      \"requisito\": \"RF-001\",\n      \"cenario\": \"Descrição objetiva do cenário\",\n      \"categoria\": \"Fluxo Principal\",\n      \"prioridade\": \"Alta\",\n      \"criticidade\": \"Alta\",\n      \"observacoes\": \"-\"\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "365fcbdf-d7ce-4aad-af7f-1edd4194a3e7",
      "name": "Groq Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1904,
        400
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\n            \"type\": \"string\"\n          },\n          \"funcionalidade\": {\n            \"type\": \"string\"\n          },\n          \"requisito\": {\n            \"type\": \"string\"\n          },\n          \"cenario\": {\n            \"type\": \"string\"\n          },\n          \"categoria\": {\n            \"type\": \"string\"\n          },\n          \"prioridade\": {\n            \"type\": \"string\"\n          },\n          \"criticidade\": {\n            \"type\": \"string\"\n          },\n          \"observacoes\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\n          \"id\",\n          \"funcionalidade\",\n          \"requisito\",\n          \"cenario\",\n          \"categoria\",\n          \"prioridade\",\n          \"criticidade\",\n          \"observacoes\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"matriz\"\n  ]\n}"
      },
      "id": "c4a27e1f-5bb6-4024-864c-f6d0e45da6f6",
      "name": "Output Parser Groq2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        2416,
        688
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id: ex. MC-001, MC-002\n   - funcionalidade\n   - requisito\n   - cenario\n   - categoria\n   - prioridade\n   - criticidade\n   - observacoes\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"matriz\".\nExemplo de formato:\n{\n  \"matriz\": [\n    {\n      \"id\": \"MC-001\",\n      \"funcionalidade\": \"Nome da funcionalidade\",\n      \"requisito\": \"RF-001\",\n      \"cenario\": \"Descrição objetiva do cenário\",\n      \"categoria\": \"Fluxo Principal\",\n      \"prioridade\": \"Alta\",\n      \"criticidade\": \"Alta\",\n      \"observacoes\": \"-\"\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "eefd1447-4458-4ea0-b13a-2b6daf07da31",
      "name": "Mistral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2256,
        480
      ]
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        2256,
        688
      ],
      "id": "d411badb-818c-43e8-80e3-22209858b633",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Matrix": {
      "main": [
        [
          {
            "node": "OpenAI Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser OpenAI": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq2": {
      "ai_outputParser": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "tags": []
}
