n8n_workflows/Doc_QA_Plans_HA_IMPORTAR.json
{
  "name": "Doc_QA_Plans_HA_IMPORTAR",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-plans",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "23aea0b4-9c93-4726-8630-59e155520fb7",
      "name": "Webhook Plans",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2032,
        496
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "17bd947b-8b6d-44fd-8d72-cd4aae044d9a",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1424,
        752
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": {\n            \"type\": \"string\"\n          },\n          \"descricao\": {\n            \"type\": \"string\"\n          },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": {\n                  \"type\": \"string\"\n                },\n                \"descricao\": {\n                  \"type\": \"string\"\n                },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\n                \"nome\",\n                \"casos\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"nome\",\n          \"suites\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"planos_de_teste\"\n  ]\n}"
      },
      "id": "b06b959a-a099-49d5-811f-a360013fc1f2",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -1264,
        752
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "ebf3b8e9-cefe-484a-a2a7-eee12cb238df",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1072,
        832
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": {\n            \"type\": \"string\"\n          },\n          \"descricao\": {\n            \"type\": \"string\"\n          },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": {\n                  \"type\": \"string\"\n                },\n                \"descricao\": {\n                  \"type\": \"string\"\n                },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\n                \"nome\",\n                \"casos\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"nome\",\n          \"suites\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"planos_de_teste\"\n  ]\n}"
      },
      "id": "bffc52a7-804b-4e16-95d3-bf0c072df43d",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -912,
        832
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "f9f6774f-7468-4b95-afa8-3aff645b9258",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        496
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "0a11b60e-3013-4029-8bc0-89862169ef57",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -720,
        896
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em planejamento de testes para Azure DevOps.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura:\n{{ $json.body.matriz_cobertura }}\n\nCasos de Teste Gerados, usando exatamente os títulos do campo titulo em cada suite:\n{{ $json.body.casos_de_teste }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nSua tarefa é organizar os Casos de Teste acima em uma hierarquia de Planos de Teste e Suites compatível com Azure DevOps.\n\nRegras:\n1. Analise os casos e identifique quantos escopos distintos de teste existem.\n2. Crie exatamente um Plano de Teste por escopo distinto, com máximo de 3 planos.\n3. Produza um único Plano apenas se todos os casos pertencerem ao mesmo escopo.\n4. Cada Plano deve conter pelo menos uma Suite.\n5. Cada Suite deve agrupar casos por área funcional, funcionalidade ou fluxo de negócio.\n6. Todo Caso de Teste da entrada deve ser atribuído a exatamente uma Suite em exatamente um Plano.\n7. Não deixe casos sem atribuição e não duplique casos entre suites ou planos.\n8. Use exatamente o texto do campo titulo de cada Caso de Teste no array casos.\n9. Não crie Suites vazias, Planos vazios ou Casos de Teste que não existam na entrada.\n10. Planos e Suites devem ter nomes descritivos e em Português do Brasil.\n11. O campo descricao é recomendado para explicar brevemente o escopo.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"planos_de_teste\".\nExemplo de formato:\n{\n  \"planos_de_teste\": [\n    {\n      \"nome\": \"Plano de Teste Funcional\",\n      \"descricao\": \"Valida os principais fluxos funcionais do sistema.\",\n      \"suites\": [\n        {\n          \"nome\": \"Suite de Fluxos Principais\",\n          \"descricao\": \"Agrupa os casos dos fluxos principais.\",\n          \"casos\": [\n            \"Título exato do caso de teste\"\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "25c525df-2ecd-463e-9cc4-cf4f9aa8117d",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1424,
        560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em planejamento de testes para Azure DevOps.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura:\n{{ $json.body.matriz_cobertura }}\n\nCasos de Teste Gerados, usando exatamente os títulos do campo titulo em cada suite:\n{{ $json.body.casos_de_teste }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nSua tarefa é organizar os Casos de Teste acima em uma hierarquia de Planos de Teste e Suites compatível com Azure DevOps.\n\nRegras:\n1. Analise os casos e identifique quantos escopos distintos de teste existem.\n2. Crie exatamente um Plano de Teste por escopo distinto, com máximo de 3 planos.\n3. Produza um único Plano apenas se todos os casos pertencerem ao mesmo escopo.\n4. Cada Plano deve conter pelo menos uma Suite.\n5. Cada Suite deve agrupar casos por área funcional, funcionalidade ou fluxo de negócio.\n6. Todo Caso de Teste da entrada deve ser atribuído a exatamente uma Suite em exatamente um Plano.\n7. Não deixe casos sem atribuição e não duplique casos entre suites ou planos.\n8. Use exatamente o texto do campo titulo de cada Caso de Teste no array casos.\n9. Não crie Suites vazias, Planos vazios ou Casos de Teste que não existam na entrada.\n10. Planos e Suites devem ter nomes descritivos e em Português do Brasil.\n11. O campo descricao é recomendado para explicar brevemente o escopo.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"planos_de_teste\".\nExemplo de formato:\n{\n  \"planos_de_teste\": [\n    {\n      \"nome\": \"Plano de Teste Funcional\",\n      \"descricao\": \"Valida os principais fluxos funcionais do sistema.\",\n      \"suites\": [\n        {\n          \"nome\": \"Suite de Fluxos Principais\",\n          \"descricao\": \"Agrupa os casos dos fluxos principais.\",\n          \"casos\": [\n            \"Título exato do caso de teste\"\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "737f3090-0d6e-4d0a-a169-2205a4e0e37f",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1072,
        624
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em planejamento de testes para Azure DevOps.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura:\n{{ $json.body.matriz_cobertura }}\n\nCasos de Teste Gerados, usando exatamente os títulos do campo titulo em cada suite:\n{{ $json.body.casos_de_teste }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nSua tarefa é organizar os Casos de Teste acima em uma hierarquia de Planos de Teste e Suites compatível com Azure DevOps.\n\nRegras:\n1. Analise os casos e identifique quantos escopos distintos de teste existem.\n2. Crie exatamente um Plano de Teste por escopo distinto, com máximo de 3 planos.\n3. Produza um único Plano apenas se todos os casos pertencerem ao mesmo escopo.\n4. Cada Plano deve conter pelo menos uma Suite.\n5. Cada Suite deve agrupar casos por área funcional, funcionalidade ou fluxo de negócio.\n6. Todo Caso de Teste da entrada deve ser atribuído a exatamente uma Suite em exatamente um Plano.\n7. Não deixe casos sem atribuição e não duplique casos entre suites ou planos.\n8. Use exatamente o texto do campo titulo de cada Caso de Teste no array casos.\n9. Não crie Suites vazias, Planos vazios ou Casos de Teste que não existam na entrada.\n10. Planos e Suites devem ter nomes descritivos e em Português do Brasil.\n11. O campo descricao é recomendado para explicar brevemente o escopo.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"planos_de_teste\".\nExemplo de formato:\n{\n  \"planos_de_teste\": [\n    {\n      \"nome\": \"Plano de Teste Funcional\",\n      \"descricao\": \"Valida os principais fluxos funcionais do sistema.\",\n      \"suites\": [\n        {\n          \"nome\": \"Suite de Fluxos Principais\",\n          \"descricao\": \"Agrupa os casos dos fluxos principais.\",\n          \"casos\": [\n            \"Título exato do caso de teste\"\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "587731f5-93e9-4ca2-bb6c-1071b5c3f876",
      "name": "Groq Chain 1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -720,
        704
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": {\n            \"type\": \"string\"\n          },\n          \"descricao\": {\n            \"type\": \"string\"\n          },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": {\n                  \"type\": \"string\"\n                },\n                \"descricao\": {\n                  \"type\": \"string\"\n                },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\n                \"nome\",\n                \"casos\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"nome\",\n          \"suites\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"planos_de_teste\"\n  ]\n}"
      },
      "id": "8bf8f228-c18d-4a19-bd13-51dada770263",
      "name": "Output Parser Groq 1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -560,
        896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em planejamento de testes para Azure DevOps.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura:\n{{ $json.body.matriz_cobertura }}\n\nCasos de Teste Gerados, usando exatamente os títulos do campo titulo em cada suite:\n{{ $json.body.casos_de_teste }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nSua tarefa é organizar os Casos de Teste acima em uma hierarquia de Planos de Teste e Suites compatível com Azure DevOps.\n\nRegras:\n1. Analise os casos e identifique quantos escopos distintos de teste existem.\n2. Crie exatamente um Plano de Teste por escopo distinto, com máximo de 3 planos.\n3. Produza um único Plano apenas se todos os casos pertencerem ao mesmo escopo.\n4. Cada Plano deve conter pelo menos uma Suite.\n5. Cada Suite deve agrupar casos por área funcional, funcionalidade ou fluxo de negócio.\n6. Todo Caso de Teste da entrada deve ser atribuído a exatamente uma Suite em exatamente um Plano.\n7. Não deixe casos sem atribuição e não duplique casos entre suites ou planos.\n8. Use exatamente o texto do campo titulo de cada Caso de Teste no array casos.\n9. Não crie Suites vazias, Planos vazios ou Casos de Teste que não existam na entrada.\n10. Planos e Suites devem ter nomes descritivos e em Português do Brasil.\n11. O campo descricao é recomendado para explicar brevemente o escopo.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"planos_de_teste\".\nExemplo de formato:\n{\n  \"planos_de_teste\": [\n    {\n      \"nome\": \"Plano de Teste Funcional\",\n      \"descricao\": \"Valida os principais fluxos funcionais do sistema.\",\n      \"suites\": [\n        {\n          \"nome\": \"Suite de Fluxos Principais\",\n          \"descricao\": \"Agrupa os casos dos fluxos principais.\",\n          \"casos\": [\n            \"Título exato do caso de teste\"\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "74fd7eef-fade-410d-91c9-086fcb0c386e",
      "name": "OpenAI Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1824,
        496
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1824,
        688
      ],
      "id": "8b8139a4-10b3-4208-8b08-67a2280debd9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": {\n            \"type\": \"string\"\n          },\n          \"descricao\": {\n            \"type\": \"string\"\n          },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": {\n                  \"type\": \"string\"\n                },\n                \"descricao\": {\n                  \"type\": \"string\"\n                },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\n                \"nome\",\n                \"casos\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"nome\",\n          \"suites\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"planos_de_teste\"\n  ]\n}"
      },
      "id": "2374f77e-72b2-4029-a47a-ca0463631183",
      "name": "Output Parser OpenAI",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -1664,
        688
      ]
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -352,
        928
      ],
      "id": "7e45cb86-2710-44cf-9b0a-b7e9353fe68e",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em planejamento de testes para Azure DevOps.\n\nProjeto:\n{{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura:\n{{ $json.body.matriz_cobertura }}\n\nCasos de Teste Gerados, usando exatamente os títulos do campo titulo em cada suite:\n{{ $json.body.casos_de_teste }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nSua tarefa é organizar os Casos de Teste acima em uma hierarquia de Planos de Teste e Suites compatível com Azure DevOps.\n\nRegras:\n1. Analise os casos e identifique quantos escopos distintos de teste existem.\n2. Crie exatamente um Plano de Teste por escopo distinto, com máximo de 3 planos.\n3. Produza um único Plano apenas se todos os casos pertencerem ao mesmo escopo.\n4. Cada Plano deve conter pelo menos uma Suite.\n5. Cada Suite deve agrupar casos por área funcional, funcionalidade ou fluxo de negócio.\n6. Todo Caso de Teste da entrada deve ser atribuído a exatamente uma Suite em exatamente um Plano.\n7. Não deixe casos sem atribuição e não duplique casos entre suites ou planos.\n8. Use exatamente o texto do campo titulo de cada Caso de Teste no array casos.\n9. Não crie Suites vazias, Planos vazios ou Casos de Teste que não existam na entrada.\n10. Planos e Suites devem ter nomes descritivos e em Português do Brasil.\n11. O campo descricao é recomendado para explicar brevemente o escopo.\n\nFORMATO DE SAÍDA OBRIGATÓRIO:\nRetorne exclusivamente um objeto JSON puro.\nNão use markdown.\nNão use ```json.\nNão use a chave \"output\".\nNão retorne array de blocos com \"type\" e \"text\".\nO objeto raiz deve conter somente a chave \"planos_de_teste\".\nExemplo de formato:\n{\n  \"planos_de_teste\": [\n    {\n      \"nome\": \"Plano de Teste Funcional\",\n      \"descricao\": \"Valida os principais fluxos funcionais do sistema.\",\n      \"suites\": [\n        {\n          \"nome\": \"Suite de Fluxos Principais\",\n          \"descricao\": \"Agrupa os casos dos fluxos principais.\",\n          \"casos\": [\n            \"Título exato do caso de teste\"\n          ]\n        }\n      ]\n    }\n  ]\n}",
        "hasOutputParser": true
      },
      "id": "d9c4f116-d079-4bed-b043-2be35b649e84",
      "name": "MIstral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -352,
        752
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": {\n            \"type\": \"string\"\n          },\n          \"descricao\": {\n            \"type\": \"string\"\n          },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": {\n                  \"type\": \"string\"\n                },\n                \"descricao\": {\n                  \"type\": \"string\"\n                },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": {\n                    \"type\": \"string\"\n                  }\n                }\n              },\n              \"required\": [\n                \"nome\",\n                \"casos\"\n              ]\n            }\n          }\n        },\n        \"required\": [\n          \"nome\",\n          \"suites\"\n        ]\n      }\n    }\n  },\n  \"required\": [\n    \"planos_de_teste\"\n  ]\n}"
      },
      "id": "0214a171-74f0-466b-baae-2ee6cd84abd1",
      "name": "Output Parser Mistral",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -192,
        928
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Plans": {
      "main": [
        [
          {
            "node": "OpenAI Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq 1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain 1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain 1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MIstral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MIstral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Mistral": {
      "ai_outputParser": [
        [
          {
            "node": "MIstral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "MIstral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser OpenAI": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "tags": []
}
