n8n_workflows/Doc_QA_Matrix_HA.json
{
  "name": "Doc_QA_Matrix_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-matrix",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0d876c75-adff-46f7-98fe-3d0a158ca637",
      "name": "Webhook Matrix",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -768,
        80
      ],
      "webhookId": "9aebe7b4-ced2-492d-9407-8cc0db3a895c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAct as a Senior QA Analyst. Based on the functional document below for project '{{ $json.body.nome_projeto }}', generate a COVERAGE MATRIX.\n\nBusiness clarifications already provided:\n{{ $json.body.respostas_duvidas }}\n\nDocument:\n{{ $json.body.document_text }}\n\nRULES:\n- Be SELECTIVE and FOCUSED. Generate only the most critical and relevant test scenarios.\n- Maximum 15 items in the matrix.\n- Each item must be unique and add real value.\n- Prioritize: main flows, validations, critical business rules, integrations, and exception flows.\n- Do NOT generate trivial or redundant items.\n- Write everything in Brazilian Portuguese.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "9d1698b2-b2bc-4fb1-b499-563acd9f272b",
      "name": "Primary Chain (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -544,
        80
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "id": "1c6682f2-32bd-442e-8bb6-f85dd39781c0",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -544,
        272
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"funcionalidade\": { \"type\": \"string\" },\n          \"requisito\": { \"type\": \"string\" },\n          \"cenario\": { \"type\": \"string\" },\n          \"categoria\": { \"type\": \"string\" },\n          \"prioridade\": { \"type\": \"string\" },\n          \"criticidade\": { \"type\": \"string\" },\n          \"observacoes\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "fb172ac2-2ac6-4125-9240-c8af90a63d8a",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -384,
        272
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAct as a Senior QA Analyst. Based on the functional document below for project '{{ $('Webhook Matrix').item.json.body.nome_projeto }}', generate a COVERAGE MATRIX.\n\nBusiness clarifications already provided:\n{{ $('Webhook Matrix').item.json.body.respostas_duvidas }}\n\nDocument:\n{{ $('Webhook Matrix').item.json.body.document_text }}\n\nRULES:\n- Be SELECTIVE and FOCUSED. Generate only the most critical and relevant test scenarios.\n- Maximum 15 items in the matrix.\n- Each item must be unique and add real value.\n- Prioritize: main flows, validations, critical business rules, integrations, and exception flows.\n- Do NOT generate trivial or redundant items.\n- Write everything in Brazilian Portuguese.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "320c5f21-85ff-4b10-b017-402c45895410",
      "name": "Fallback Chain (Groq)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -176,
        160
      ]
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "ca388130-eead-4592-9d0a-12245e454d5f",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -176,
        368
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"funcionalidade\": { \"type\": \"string\" },\n          \"requisito\": { \"type\": \"string\" },\n          \"cenario\": { \"type\": \"string\" },\n          \"categoria\": { \"type\": \"string\" },\n          \"prioridade\": { \"type\": \"string\" },\n          \"criticidade\": { \"type\": \"string\" },\n          \"observacoes\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "f605faeb-5de0-45cb-a330-768dfca8a0f4",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -16,
        368
      ]
    },
    {
      "parameters": {},
      "id": "789ed28a-4bf3-4db8-ab23-177bda43d8a1",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        192,
        80
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "06f89c19-d2ee-4812-91fb-873bfcfc8946",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        80
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Matrix": {
      "main": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Chain (Gemini)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Chain (Groq)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "a18685fd-f5f9-4c63-8147-7a36697e5a8a",
  "meta": {
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "id": "6R6CPSpbI8Hs1gg9",
  "tags": []
}