n8n_workflows/Doc_QA_Plans_HA_NOVO.json
{
  "name": "Doc_QA_Plans_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-plans",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "23aea0b4-9c93-4726-8630-59e155520fb7",
      "name": "Webhook Plans",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2032,
        496
      ],
      "webhookId": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "17bd947b-8b6d-44fd-8d72-cd4aae044d9a",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1424,
        752
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": { \"type\": \"string\" },\n          \"descricao\": { \"type\": \"string\" },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": { \"type\": \"string\" },\n                \"descricao\": { \"type\": \"string\" },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": { \"type\": \"string\" }\n                }\n              },\n              \"required\": [\"nome\", \"casos\"]\n            }\n          }\n        },\n        \"required\": [\"nome\", \"suites\"]\n      }\n    }\n  }\n}"
      },
      "id": "b06b959a-a099-49d5-811f-a360013fc1f2",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -1264,
        752
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "ebf3b8e9-cefe-484a-a2a7-eee12cb238df",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1072,
        832
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": { \"type\": \"string\" },\n          \"descricao\": { \"type\": \"string\" },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": { \"type\": \"string\" },\n                \"descricao\": { \"type\": \"string\" },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": { \"type\": \"string\" }\n                }\n              },\n              \"required\": [\"nome\", \"casos\"]\n            }\n          }\n        },\n        \"required\": [\"nome\", \"suites\"]\n      }\n    }\n  }\n}"
      },
      "id": "bffc52a7-804b-4e16-95d3-bf0c072df43d",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -912,
        832
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "f9f6774f-7468-4b95-afa8-3aff645b9258",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        0,
        496
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "0a11b60e-3013-4029-8bc0-89862169ef57",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -720,
        896
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT:\nAll output MUST be written exclusively in Brazilian Portuguese (pt-BR).\n\nDo not use English words, labels, field values, titles, descriptions, suite names, plan names, or explanations.\n\nAll generated content must be natural and professional Brazilian Portuguese.\n\nAct as a Senior QA Analyst specialized in test planning for Azure DevOps.\n\nProject:\n{{ $json.body.nome_projeto }}\n\nFunctional Specification:\n{{ $json.body.document_text }}\n\nCoverage Matrix:\n{{ $json.body.matriz_cobertura }}\n\nGenerated Test Cases (use the exact titles to populate the 'casos' field of each Suite):\n{{ $json.body.casos_de_teste }}\n\nBusiness Clarifications:\n{{ $json.body.respostas_duvidas }}\n\nYour task is to organize the Test Cases above into a hierarchy of Test Plans and Test Suites compatible with Azure DevOps.\n\nRULES:\n1. First, analyze the Test Cases and identify how many DISTINCT testing scopes are present among them (examples of scopes: Functional/Business Flows, Data Integration & ETL, Security & Access Control, Non-Functional/Performance, Regression, Smoke). Create exactly ONE Test Plan PER distinct scope you identify, up to a maximum of 3 Plans.\n2. Only produce a SINGLE Test Plan if, after this analysis, ALL Test Cases genuinely belong to the same testing scope. If you identify 2 or more distinct scopes, you MUST create a separate Plan for each one — do not lump everything into one Plan for convenience.\n3. Each Plan must contain at least 1 Test Suite. Each Suite must group Test Cases by functional area, feature, or business flow within that Plan's scope.\n4. EVERY Test Case listed in the input MUST be assigned to exactly one Suite in exactly one Plan. Do not leave any Test Case unassigned, and do not duplicate a Test Case across more than one Suite or Plan.\n5. Use the EXACT title string from the 'titulo' field of each Test Case in the 'casos' array. Do not paraphrase or translate titles.\n6. Do not create empty Suites or empty Plans. Do not invent Test Cases that are not in the input list.\n8. Plan names and Suite names must be descriptive, clear, and written in Brazilian Portuguese.\n9. The 'descricao' field is optional but recommended for Plans and Suites; for Plans, it should briefly explain the testing scope that Plan covers.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "25c525df-2ecd-463e-9cc4-cf4f9aa8117d",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1424,
        560
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT:\nAll output MUST be written exclusively in Brazilian Portuguese (pt-BR).\n\nDo not use English words, labels, field values, titles, descriptions, suite names, plan names, or explanations.\n\nAll generated content must be natural and professional Brazilian Portuguese.\n\nAct as a Senior QA Analyst specialized in test planning for Azure DevOps.\n\nProject:\n{{ $json.body.nome_projeto }}\n\nFunctional Specification:\n{{ $json.body.document_text }}\n\nCoverage Matrix:\n{{ $json.body.matriz_cobertura }}\n\nGenerated Test Cases (use the exact titles to populate the 'casos' field of each Suite):\n{{ $json.body.casos_de_teste }}\n\nBusiness Clarifications:\n{{ $json.body.respostas_duvidas }}\n\nYour task is to organize the Test Cases above into a hierarchy of Test Plans and Test Suites compatible with Azure DevOps.\n\nRULES:\n1. First, analyze the Test Cases and identify how many DISTINCT testing scopes are present among them (examples of scopes: Functional/Business Flows, Data Integration & ETL, Security & Access Control, Non-Functional/Performance, Regression, Smoke). Create exactly ONE Test Plan PER distinct scope you identify, up to a maximum of 3 Plans.\n2. Only produce a SINGLE Test Plan if, after this analysis, ALL Test Cases genuinely belong to the same testing scope. If you identify 2 or more distinct scopes, you MUST create a separate Plan for each one — do not lump everything into one Plan for convenience.\n3. Each Plan must contain at least 1 Test Suite. Each Suite must group Test Cases by functional area, feature, or business flow within that Plan's scope.\n4. EVERY Test Case listed in the input MUST be assigned to exactly one Suite in exactly one Plan. Do not leave any Test Case unassigned, and do not duplicate a Test Case across more than one Suite or Plan.\n5. Use the EXACT title string from the 'titulo' field of each Test Case in the 'casos' array. Do not paraphrase or translate titles.\n6. Do not create empty Suites or empty Plans. Do not invent Test Cases that are not in the input list.\n8. Plan names and Suite names must be descriptive, clear, and written in Brazilian Portuguese.\n9. The 'descricao' field is optional but recommended for Plans and Suites; for Plans, it should briefly explain the testing scope that Plan covers.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "737f3090-0d6e-4d0a-a169-2205a4e0e37f",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1072,
        624
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT:\nAll output MUST be written exclusively in Brazilian Portuguese (pt-BR).\n\nDo not use English words, labels, field values, titles, descriptions, suite names, plan names, or explanations.\n\nAll generated content must be natural and professional Brazilian Portuguese.\n\nAct as a Senior QA Analyst specialized in test planning for Azure DevOps.\n\nProject:\n{{ $json.body.nome_projeto }}\n\nFunctional Specification:\n{{ $json.body.document_text }}\n\nCoverage Matrix:\n{{ $json.body.matriz_cobertura }}\n\nGenerated Test Cases (use the exact titles to populate the 'casos' field of each Suite):\n{{ $json.body.casos_de_teste }}\n\nBusiness Clarifications:\n{{ $json.body.respostas_duvidas }}\n\nYour task is to organize the Test Cases above into a hierarchy of Test Plans and Test Suites compatible with Azure DevOps.\n\nRULES:\n1. First, analyze the Test Cases and identify how many DISTINCT testing scopes are present among them (examples of scopes: Functional/Business Flows, Data Integration & ETL, Security & Access Control, Non-Functional/Performance, Regression, Smoke). Create exactly ONE Test Plan PER distinct scope you identify, up to a maximum of 3 Plans.\n2. Only produce a SINGLE Test Plan if, after this analysis, ALL Test Cases genuinely belong to the same testing scope. If you identify 2 or more distinct scopes, you MUST create a separate Plan for each one — do not lump everything into one Plan for convenience.\n3. Each Plan must contain at least 1 Test Suite. Each Suite must group Test Cases by functional area, feature, or business flow within that Plan's scope.\n4. EVERY Test Case listed in the input MUST be assigned to exactly one Suite in exactly one Plan. Do not leave any Test Case unassigned, and do not duplicate a Test Case across more than one Suite or Plan.\n5. Use the EXACT title string from the 'titulo' field of each Test Case in the 'casos' array. Do not paraphrase or translate titles.\n6. Do not create empty Suites or empty Plans. Do not invent Test Cases that are not in the input list.\n8. Plan names and Suite names must be descriptive, clear, and written in Brazilian Portuguese.\n9. The 'descricao' field is optional but recommended for Plans and Suites; for Plans, it should briefly explain the testing scope that Plan covers.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "587731f5-93e9-4ca2-bb6c-1071b5c3f876",
      "name": "Groq Chain 1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -720,
        704
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": { \"type\": \"string\" },\n          \"descricao\": { \"type\": \"string\" },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": { \"type\": \"string\" },\n                \"descricao\": { \"type\": \"string\" },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": { \"type\": \"string\" }\n                }\n              },\n              \"required\": [\"nome\", \"casos\"]\n            }\n          }\n        },\n        \"required\": [\"nome\", \"suites\"]\n      }\n    }\n  }\n}"
      },
      "id": "8bf8f228-c18d-4a19-bd13-51dada770263",
      "name": "Output Parser Groq 1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -560,
        896
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT:\nAll output MUST be written exclusively in Brazilian Portuguese (pt-BR).\n\nDo not use English words, labels, field values, titles, descriptions, suite names, plan names, or explanations.\n\nAll generated content must be natural and professional Brazilian Portuguese.\n\nAct as a Senior QA Analyst specialized in test planning for Azure DevOps.\n\nProject:\n{{ $json.body.nome_projeto }}\n\nFunctional Specification:\n{{ $json.body.document_text }}\n\nCoverage Matrix:\n{{ $json.body.matriz_cobertura }}\n\nGenerated Test Cases (use the exact titles to populate the 'casos' field of each Suite):\n{{ $json.body.casos_de_teste }}\n\nBusiness Clarifications:\n{{ $json.body.respostas_duvidas }}\n\nYour task is to organize the Test Cases above into a hierarchy of Test Plans and Test Suites compatible with Azure DevOps.\n\nRULES:\n1. First, analyze the Test Cases and identify how many DISTINCT testing scopes are present among them (examples of scopes: Functional/Business Flows, Data Integration & ETL, Security & Access Control, Non-Functional/Performance, Regression, Smoke). Create exactly ONE Test Plan PER distinct scope you identify, up to a maximum of 3 Plans.\n2. Only produce a SINGLE Test Plan if, after this analysis, ALL Test Cases genuinely belong to the same testing scope. If you identify 2 or more distinct scopes, you MUST create a separate Plan for each one — do not lump everything into one Plan for convenience.\n3. Each Plan must contain at least 1 Test Suite. Each Suite must group Test Cases by functional area, feature, or business flow within that Plan's scope.\n4. EVERY Test Case listed in the input MUST be assigned to exactly one Suite in exactly one Plan. Do not leave any Test Case unassigned, and do not duplicate a Test Case across more than one Suite or Plan.\n5. Use the EXACT title string from the 'titulo' field of each Test Case in the 'casos' array. Do not paraphrase or translate titles.\n6. Do not create empty Suites or empty Plans. Do not invent Test Cases that are not in the input list.\n8. Plan names and Suite names must be descriptive, clear, and written in Brazilian Portuguese.\n9. The 'descricao' field is optional but recommended for Plans and Suites; for Plans, it should briefly explain the testing scope that Plan covers.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "74fd7eef-fade-410d-91c9-086fcb0c386e",
      "name": "OpenAI Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1824,
        496
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1824,
        688
      ],
      "id": "8b8139a4-10b3-4208-8b08-67a2280debd9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": { \"type\": \"string\" },\n          \"descricao\": { \"type\": \"string\" },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": { \"type\": \"string\" },\n                \"descricao\": { \"type\": \"string\" },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": { \"type\": \"string\" }\n                }\n              },\n              \"required\": [\"nome\", \"casos\"]\n            }\n          }\n        },\n        \"required\": [\"nome\", \"suites\"]\n      }\n    }\n  }\n}"
      },
      "id": "2374f77e-72b2-4029-a47a-ca0463631183",
      "name": "Output Parser Gemini1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -1664,
        688
      ]
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -352,
        928
      ],
      "id": "7e45cb86-2710-44cf-9b0a-b7e9353fe68e",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT:\nAll output MUST be written exclusively in Brazilian Portuguese (pt-BR).\n\nDo not use English words, labels, field values, titles, descriptions, suite names, plan names, or explanations.\n\nAll generated content must be natural and professional Brazilian Portuguese.\n\nAct as a Senior QA Analyst specialized in test planning for Azure DevOps.\n\nProject:\n{{ $json.body.nome_projeto }}\n\nFunctional Specification:\n{{ $json.body.document_text }}\n\nCoverage Matrix:\n{{ $json.body.matriz_cobertura }}\n\nGenerated Test Cases (use the exact titles to populate the 'casos' field of each Suite):\n{{ $json.body.casos_de_teste }}\n\nBusiness Clarifications:\n{{ $json.body.respostas_duvidas }}\n\nYour task is to organize the Test Cases above into a hierarchy of Test Plans and Test Suites compatible with Azure DevOps.\n\nRULES:\n1. First, analyze the Test Cases and identify how many DISTINCT testing scopes are present among them (examples of scopes: Functional/Business Flows, Data Integration & ETL, Security & Access Control, Non-Functional/Performance, Regression, Smoke). Create exactly ONE Test Plan PER distinct scope you identify, up to a maximum of 3 Plans.\n2. Only produce a SINGLE Test Plan if, after this analysis, ALL Test Cases genuinely belong to the same testing scope. If you identify 2 or more distinct scopes, you MUST create a separate Plan for each one — do not lump everything into one Plan for convenience.\n3. Each Plan must contain at least 1 Test Suite. Each Suite must group Test Cases by functional area, feature, or business flow within that Plan's scope.\n4. EVERY Test Case listed in the input MUST be assigned to exactly one Suite in exactly one Plan. Do not leave any Test Case unassigned, and do not duplicate a Test Case across more than one Suite or Plan.\n5. Use the EXACT title string from the 'titulo' field of each Test Case in the 'casos' array. Do not paraphrase or translate titles.\n6. Do not create empty Suites or empty Plans. Do not invent Test Cases that are not in the input list.\n8. Plan names and Suite names must be descriptive, clear, and written in Brazilian Portuguese.\n9. The 'descricao' field is optional but recommended for Plans and Suites; for Plans, it should briefly explain the testing scope that Plan covers.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "d9c4f116-d079-4bed-b043-2be35b649e84",
      "name": "MIstral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -352,
        752
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"planos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"nome\": { \"type\": \"string\" },\n          \"descricao\": { \"type\": \"string\" },\n          \"suites\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"nome\": { \"type\": \"string\" },\n                \"descricao\": { \"type\": \"string\" },\n                \"casos\": {\n                  \"type\": \"array\",\n                  \"items\": { \"type\": \"string\" }\n                }\n              },\n              \"required\": [\"nome\", \"casos\"]\n            }\n          }\n        },\n        \"required\": [\"nome\", \"suites\"]\n      }\n    }\n  }\n}"
      },
      "id": "0214a171-74f0-466b-baae-2ee6cd84abd1",
      "name": "Output Parser Mistral",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -192,
        928
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Plans": {
      "main": [
        [
          {
            "node": "OpenAI Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain 1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq 1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain 1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain 1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "MIstral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini1": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "MIstral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Mistral": {
      "ai_outputParser": [
        [
          {
            "node": "MIstral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "MIstral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "0fc7adc6-b4fc-422e-919e-bff09a1f82f6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "id": "dywx1cpSito6zCl1",
  "tags": []
}