n8n_workflows/Doc_QA_Analysis_HA_NOVO.json
{
  "name": "Doc_QA_Analysis_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-analysis",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ebf97c3b-b3ed-42ea-b07d-ec110055744b",
      "name": "Webhook Analysis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        2832,
        1152
      ],
      "webhookId": "72666897-6a4a-467c-a6c4-068d8f0a5c10",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a42b910e-cf74-4a65-b779-6d249b8f39e2",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3456,
        1456
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "963d618a-a9cb-4458-8b41-d7f48efe3888",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        3616,
        1456
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "52dda3f7-391f-4498-a741-fc5831754ea0",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        3872,
        1520
      ],
      "credentials": {
        "groqApi": {
          "id": "w1DzJ09lU56BjXqQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "e8b76ed8-0563-4d18-bbbc-f1fc7a46e544",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        4032,
        1520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "04071ce2-d2b2-4216-918c-da772076b877",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        5088,
        1056
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        3088,
        1152
      ],
      "id": "cbc05dfa-344d-43e6-bb6a-913d838c4bb9",
      "name": "OpenAI Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        3088,
        1360
      ],
      "id": "0c5768c6-0913-4be4-9db4-95a6adb7b1d9",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "ee4b1359-9cd4-4f26-9609-b8457e597516",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3456,
        1264
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "8b85212b-ea07-46ab-b42c-450255d80e9d",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        3872,
        1312
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "17854d50-2906-4d44-b762-1ebf33ada311",
      "name": "Output Parser OpenAI",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        3248,
        1360
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "22dca119-01bd-4aad-9e65-ff2a11323ad7",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        4272,
        1584
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "733de041-ff9f-4564-a4b8-2b58b6a0775a",
      "name": "Output Parser Groq1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        4432,
        1584
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "11014de8-e8af-4319-83c9-6dfe0af5d6ab",
      "name": "Groq Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4272,
        1376
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        4688,
        1632
      ],
      "id": "ffd6be0f-5671-4273-b088-077989ce92d1",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "2680e556-61ab-469e-998c-acf567ee6841",
      "name": "Mistral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        4688,
        1424
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "70bca34b-a113-4d73-b7d2-ba238f760814",
      "name": "Output Parser Groq2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        4832,
        1632
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Analysis": {
      "main": [
        [
          {
            "node": "OpenAI Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser OpenAI": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq2": {
      "ai_outputParser": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "76131d3f-a3af-44ed-93ba-337ab167fad2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "id": "C4EC7gpjVNgKYyMo",
  "tags": []
}