n8n_workflows/Doc_QA_Analysis_HA.json
{
  "name": "Doc_QA_Analysis_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-analysis",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0b053751-91c7-4d60-9f5f-4ab117215f29",
      "name": "Webhook Analysis",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -2240,
        3152
      ],
      "webhookId": "72666897-6a4a-467c-a6c4-068d8f0a5c10",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "3d4c1fb3-be8f-4618-9d91-7a1e9945aeef",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1616,
        3456
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "a8d12444-7142-4289-ad7f-81b0a381c518",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -1456,
        3456
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "8939b097-def1-4ed8-9420-581c7662e972",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -1200,
        3520
      ],
      "credentials": {
        "groqApi": {
          "id": "w1DzJ09lU56BjXqQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "8ca87294-f94b-4671-a7f1-6b1f92e4b202",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -1040,
        3520
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "9a5b28c9-a42a-40f5-a68e-a48448dfe56a",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        16,
        3056
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1984,
        3152
      ],
      "id": "f2fab63d-e3c9-435b-a907-0786dbdf3647",
      "name": "OpenAI Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1984,
        3360
      ],
      "id": "1f87de92-a17e-4ebd-aca7-b9319972cb3f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "bab7a011-6bae-4c14-aced-a8815c3c9958",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1616,
        3264
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "e99062cd-d75d-4dd7-91f9-9a85789d657d",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -1200,
        3312
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "46746632-8991-454b-90e7-a3021a47e5fa",
      "name": "Output Parser OpenAI",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -1824,
        3360
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "b19ef681-a07f-420a-ad77-4185b0d7ed09",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -800,
        3584
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "9457d1b6-47d3-4027-952b-a31e374297bd",
      "name": "Output Parser Groq1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -640,
        3584
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "96518dc5-89eb-41c5-a2c7-7ca49feef062",
      "name": "Groq Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -800,
        3376
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -384,
        3632
      ],
      "id": "8e984b44-243c-440a-a554-495c95913bd0",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em análise de requisitos.\nAnalise a especificação funcional a seguir para o projeto '{{ $json.body.nome_projeto }}'.\n\nSeu objetivo é identificar APENAS ambiguidades que impeçam ou reduzam significativamente a cobertura de testes.\n\nPriorize questões relacionadas a:\n- Regras de negócio\n- Regras de validação\n- Tratamento de erros\n- Fluxos alternativos\n- Permissões e perfis de acesso\n- Comportamentos de integração\n- Persistência de dados\n- Campos obrigatórios vs opcionais\n- Transições de status\n- Cenários excepcionais\n\nRegras:\n1. Retorne no máximo 5 perguntas.\n2. Levante apenas questões que impactem materialmente a criação de casos de teste.\n3. Ignore aspectos visuais, de UX, redação ou baixo risco.\n4. Se o requisito estiver suficientemente claro para a criação de casos de teste, retorne um array vazio.\n5. Cada pergunta deve conter exatamente os campos:\n   - id (número inteiro sequencial, começando em 1)\n   - pergunta (a dúvida em si, clara e objetiva, em pt-BR)\n\nDocumento:\n{{ $json.body.document_text }}\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "f6c0556a-712d-4777-bb6c-bf14e914f315",
      "name": "Mistral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -384,
        3424
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"duvidas\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"number\" },\n          \"pergunta\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "c7f8889f-1e53-4650-9855-b52c8bc7b6b8",
      "name": "Output Parser Groq2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -240,
        3632
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Analysis": {
      "main": [
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser OpenAI": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq2": {
      "ai_outputParser": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "e01294f9-9cd2-4497-a726-7db5333b5eff",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "id": "C4EC7gpjVNgKYyMo",
  "tags": []
}