n8n_workflows/Doc_QA_Matrix_HA.json
{
  "name": "Doc_QA_Matrix_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-matrix",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "60e7835f-33b8-47ea-b3ad-7f22d0c0dfbf",
      "name": "Webhook Matrix",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -5536,
        2016
      ],
      "webhookId": "9aebe7b4-ced2-492d-9407-8cc0db3a895c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "9c72ad91-7361-41d7-80f3-44f45c8e48cc",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -4944,
        2288
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"funcionalidade\": { \"type\": \"string\" },\n          \"requisito\": { \"type\": \"string\" },\n          \"cenario\": { \"type\": \"string\" },\n          \"categoria\": { \"type\": \"string\" },\n          \"prioridade\": { \"type\": \"string\" },\n          \"criticidade\": { \"type\": \"string\" },\n          \"observacoes\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "e2a6e3bb-b129-4781-a037-6c8ad2201a3f",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -4784,
        2288
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "06bd45b3-3e87-48c5-9d6c-0575933ed27a",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -4544,
        2368
      ],
      "credentials": {
        "groqApi": {
          "id": "w1DzJ09lU56BjXqQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"funcionalidade\": { \"type\": \"string\" },\n          \"requisito\": { \"type\": \"string\" },\n          \"cenario\": { \"type\": \"string\" },\n          \"categoria\": { \"type\": \"string\" },\n          \"prioridade\": { \"type\": \"string\" },\n          \"criticidade\": { \"type\": \"string\" },\n          \"observacoes\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "7fbf5f01-ee8c-453b-b793-7663e2ad013a",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -4384,
        2368
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "0d9843f8-397d-44d2-a0c0-9ba4d6d7a335",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -3328,
        1984
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id (ex: MC-001, MC-002...)\n   - funcionalidade (nome da funcionalidade sendo testada)\n   - requisito (referência ao requisito, ex: RF-01)\n   - cenario (descrição objetiva do cenário de teste)\n   - categoria (uma das categorias permitidas acima)\n   - prioridade (Alta, Média ou Baixa)\n   - criticidade (Alta, Média ou Baixa)\n   - observacoes (observação relevante ou \"-\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "7adae40a-e0cf-4fc9-9e91-31520507a8a6",
      "name": "OpenAI Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -5296,
        2016
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id (ex: MC-001, MC-002...)\n   - funcionalidade (nome da funcionalidade sendo testada)\n   - requisito (referência ao requisito, ex: RF-01)\n   - cenario (descrição objetiva do cenário de teste)\n   - categoria (uma das categorias permitidas acima)\n   - prioridade (Alta, Média ou Baixa)\n   - criticidade (Alta, Média ou Baixa)\n   - observacoes (observação relevante ou \"-\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "d8778816-ef25-4343-8d06-d4ec47b4eac2",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -4944,
        2096
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id (ex: MC-001, MC-002...)\n   - funcionalidade (nome da funcionalidade sendo testada)\n   - requisito (referência ao requisito, ex: RF-01)\n   - cenario (descrição objetiva do cenário de teste)\n   - categoria (uma das categorias permitidas acima)\n   - prioridade (Alta, Média ou Baixa)\n   - criticidade (Alta, Média ou Baixa)\n   - observacoes (observação relevante ou \"-\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "b5737a10-a3d1-4f07-ae46-63524519e925",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -4544,
        2160
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -5296,
        2192
      ],
      "id": "f6ec5d13-3668-4c7b-b2c8-09f4618555b7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"funcionalidade\": { \"type\": \"string\" },\n          \"requisito\": { \"type\": \"string\" },\n          \"cenario\": { \"type\": \"string\" },\n          \"categoria\": { \"type\": \"string\" },\n          \"prioridade\": { \"type\": \"string\" },\n          \"criticidade\": { \"type\": \"string\" },\n          \"observacoes\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "467c6270-c634-494f-9302-2f1389252f9c",
      "name": "Output Parser OpenAI",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -5136,
        2192
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "8da6db45-e2d5-401d-a9dc-25ee9c254f34",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -4176,
        2432
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"funcionalidade\": { \"type\": \"string\" },\n          \"requisito\": { \"type\": \"string\" },\n          \"cenario\": { \"type\": \"string\" },\n          \"categoria\": { \"type\": \"string\" },\n          \"prioridade\": { \"type\": \"string\" },\n          \"criticidade\": { \"type\": \"string\" },\n          \"observacoes\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "267e0070-c094-437a-a439-2381a17c948c",
      "name": "Output Parser Groq1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -4016,
        2432
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id (ex: MC-001, MC-002...)\n   - funcionalidade (nome da funcionalidade sendo testada)\n   - requisito (referência ao requisito, ex: RF-01)\n   - cenario (descrição objetiva do cenário de teste)\n   - categoria (uma das categorias permitidas acima)\n   - prioridade (Alta, Média ou Baixa)\n   - criticidade (Alta, Média ou Baixa)\n   - observacoes (observação relevante ou \"-\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "a3a7d3c0-2c29-45b3-8bd8-db8d39faef95",
      "name": "Groq Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -4176,
        2224
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"matriz\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"funcionalidade\": { \"type\": \"string\" },\n          \"requisito\": { \"type\": \"string\" },\n          \"cenario\": { \"type\": \"string\" },\n          \"categoria\": { \"type\": \"string\" },\n          \"prioridade\": { \"type\": \"string\" },\n          \"criticidade\": { \"type\": \"string\" },\n          \"observacoes\": { \"type\": \"string\" }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "05540ad2-01fa-4e5b-ad58-b044ce0f1621",
      "name": "Output Parser Groq2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -3664,
        2512
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\nCom base no documento funcional do projeto '{{ $json.body.nome_projeto }}', gere uma MATRIZ DE COBERTURA DE TESTES.\n\nEsclarecimentos de negócio já fornecidos:\n{{ $json.body.respostas_duvidas }}\n\nDocumento:\n{{ $json.body.document_text }}\n\nRegras:\n1. Seja SELETIVO e FOCADO. Gere apenas os cenários mais críticos e relevantes.\n2. Máximo de 15 itens. Prefira menos itens com maior qualidade a muitos itens superficiais.\n3. Cada item deve ser único e agregar valor real à cobertura de testes.\n4. Priorize: fluxos principais, validações, regras de negócio críticas, integrações e fluxos de exceção.\n5. NÃO gere itens triviais, redundantes ou de baixo impacto.\n6. Categorias permitidas: Fluxo Principal, Validação, Regra de Negócio, Integração, Fluxo Alternativo, Exceção.\n7. Prioridade e Criticidade: use apenas Alta, Média ou Baixa.\n8. Campo observacoes: use \"-\" se não houver nada relevante.\n9. Cada item deve conter exatamente os campos:\n   - id (ex: MC-001, MC-002...)\n   - funcionalidade (nome da funcionalidade sendo testada)\n   - requisito (referência ao requisito, ex: RF-01)\n   - cenario (descrição objetiva do cenário de teste)\n   - categoria (uma das categorias permitidas acima)\n   - prioridade (Alta, Média ou Baixa)\n   - criticidade (Alta, Média ou Baixa)\n   - observacoes (observação relevante ou \"-\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "d1bce4ed-2b7f-454b-a330-8ed23b8662f6",
      "name": "Mistral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -3824,
        2304
      ]
    },
    {
      "parameters": {
        "model": "mistral-small-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -3824,
        2512
      ],
      "id": "240352b8-bc83-402b-8e6c-358ae6418ff7",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Matrix": {
      "main": [
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser OpenAI": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq2": {
      "ai_outputParser": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "611871e5-1311-4673-bfaf-19325eaafe0e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "id": "6R6CPSpbI8Hs1gg9",
  "tags": []
}