n8n_workflows/Doc_QA_Generation_HA.json
{
  "name": "Doc_QA_Generation_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-generation",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "4bba56ae-3b2f-4cde-b9e5-d1cf960da16a",
      "name": "Webhook Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        1152,
        720
      ],
      "webhookId": "2e030325-b9f3-4217-b10a-03d83d30ee7c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT:\nAll output MUST be written exclusively in Brazilian Portuguese (pt-BR).\n\nDo not use English words, labels, field values, titles, descriptions, categories, objectives, reasons, test names, or explanations.\n\nAll generated content must be natural and professional Brazilian Portuguese.\n\nAct as a Senior QA Analyst specialized in test design.\n\nProject:\n{{ $json.body.nome_projeto }}\n\nFunctional Specification:\n{{ $json.body.document_text }}\n\nCoverage Matrix to base the test cases on:\n{{ $json.body.matriz_cobertura }}\n\nBusiness Clarifications:\n{{ $json.body.respostas_duvidas }}\n\nGenerate test cases using risk-based testing principles.\n\nCoverage must include whenever applicable:\n\n- Happy paths\n- Business rules\n- Field validations\n- Negative scenarios\n- Alternative flows\n- Error handling\n- Permission/profile rules\n- Integration behaviors\n- Boundary conditions\n- Data persistence\n- Status transitions\n\nRules:\n\n1. Generate only meaningful and non-duplicated test cases.\n2. Prioritize high business impact scenarios.\n3. Each test case must be independently executable.\n4. Steps must be detailed enough for manual execution.\n5. Use Given / When / Then format.\n6. Include:\n   - id\n   - title\n   - objective\n   - priority\n   - preconditions\n   - steps\n   - expected_result\n7. Do not invent business rules that are not present in the document or clarifications.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "e339872c-c6a3-4068-83b0-a3f0426a1e3f",
      "name": "Primary Chain (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1376,
        720
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "65695b4a-a34f-4dd4-aa49-8c5aa2e5c018",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1376,
        912
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "4fde0d3c-b739-497f-9f02-a9fc4a72f08d",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1536,
        912
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANT:\nAll output MUST be written exclusively in Brazilian Portuguese (pt-BR).\n\nDo not use English words, labels, field values, titles, descriptions, categories, objectives, reasons, test names, or explanations.\n\nAll generated content must be natural and professional Brazilian Portuguese.\n\nAct as a Senior QA Analyst specialized in test design.\n\nProject:\n{{ $json.body.nome_projeto }}\n\nFunctional Specification:\n{{ $json.body.document_text }}\n\nCoverage Matrix to base the test cases on:\n{{ $json.body.matriz_cobertura }}\n\nBusiness Clarifications:\n{{ $json.body.respostas_duvidas }}\n\nGenerate test cases using risk-based testing principles.\n\nCoverage must include whenever applicable:\n\n- Happy paths\n- Business rules\n- Field validations\n- Negative scenarios\n- Alternative flows\n- Error handling\n- Permission/profile rules\n- Integration behaviors\n- Boundary conditions\n- Data persistence\n- Status transitions\n\nRules:\n\n1. Generate only meaningful and non-duplicated test cases.\n2. Prioritize high business impact scenarios.\n3. Each test case must be independently executable.\n4. Steps must be detailed enough for manual execution.\n5. Use Given / When / Then format.\n6. Include:\n   - id\n   - title\n   - objective\n   - priority\n   - preconditions\n   - steps\n   - expected_result\n7. Do not invent business rules that are not present in the document or clarifications.\n\nReturn ONLY valid JSON matching the schema.",
        "hasOutputParser": true
      },
      "id": "32b83ebc-1d60-4eec-a9c2-5725347b44f8",
      "name": "Fallback Chain (Groq)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1744,
        800
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "f687ba7a-5fe5-4a14-ab63-25b9529c1882",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1744,
        1008
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "5d94d412-8c1f-412f-9be7-2be28e199baf",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1904,
        1008
      ]
    },
    {
      "parameters": {},
      "id": "05f755bd-e5da-4b08-b5be-862dd6f39ef2",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2096,
        720
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "33368bfa-61b1-486c-b333-212176eeb1c2",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        2304,
        720
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Generation": {
      "main": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Chain (Gemini)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fallback Chain (Groq)": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f22b92c6-088c-4f17-b9bc-77c9100637ad",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "id": "O1qHsHT8JqLw3X0T",
  "tags": []
}