n8n_workflows/Doc_QA_Generation_HA.json
{
  "name": "Doc_QA_Generation_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-generation",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b96f23a6-48e4-4965-b8aa-33ccffb6b073",
      "name": "Webhook Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -480,
        2272
      ],
      "webhookId": "2e030325-b9f3-4217-b10a-03d83d30ee7c",
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e24c178c-15b5-4e1a-aec9-8469ccf8f537",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        144,
        2576
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "ecf92a0e-579c-4ff8-b6f0-342a64754c20",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        304,
        2576
      ]
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "cc482998-7acc-4fa9-bf9b-e02a6bdbe19c",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        560,
        2672
      ],
      "credentials": {
        "groqApi": {
          "id": "w1DzJ09lU56BjXqQ",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "ec6b0f7a-a2d4-4eae-b22d-88b8a5c325e9",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        720,
        2672
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "d9331be8-e44e-432b-9895-c4fb3cc86f9f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1648,
        2240
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto: {{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura (base obrigatória para os casos de teste):\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais (happy path)\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento ou nos esclarecimentos.\n6. Siga rigorosamente a estrutura de campos abaixo:\n   - titulo: nome objetivo do caso de teste (ex: \"Emitir NF-e com dados válidos\")\n   - pre_condicoes: contexto e estado inicial necessário para executar o teste,\n     equivalente ao \"Dado que...\" do BDD\n     (ex: \"Dado que o usuário está autenticado e possui perfil de Emissor\")\n   - passos: array de objetos, cada um com:\n       - numero: inteiro sequencial começando em 1\n       - acao: ação objetiva que o testador executa, começando com verbo no infinitivo,\n         equivalente ao \"Quando...\" do BDD\n         (ex: \"Preencher todos os campos obrigatórios da NF-e com dados válidos e clicar em Emitir\")\n       - resultado_esperado: comportamento esperado do sistema após a ação,\n         equivalente ao \"Então...\" do BDD\n         (ex: \"O sistema processa a emissão e exibe a mensagem 'NF-e emitida com sucesso'\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "5449e777-dd65-4bbb-8885-6c3165620338",
      "name": "OpenAI Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        -256,
        2272
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "8912f662-547b-430d-bd1c-4c81f11bfda3",
      "name": "Output Parser OpenAI",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        -80,
        2464
      ]
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.5",
          "mode": "list",
          "cachedResultName": "gpt-5.5"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        2464
      ],
      "id": "904ecf69-7844-4cc6-a7c5-0d97e95d431b",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "XXGlD1ZJ8uuc0RG7",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto: {{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura (base obrigatória para os casos de teste):\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais (happy path)\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento ou nos esclarecimentos.\n6. Siga rigorosamente a estrutura de campos abaixo:\n   - titulo: nome objetivo do caso de teste (ex: \"Emitir NF-e com dados válidos\")\n   - pre_condicoes: contexto e estado inicial necessário para executar o teste,\n     equivalente ao \"Dado que...\" do BDD\n     (ex: \"Dado que o usuário está autenticado e possui perfil de Emissor\")\n   - passos: array de objetos, cada um com:\n       - numero: inteiro sequencial começando em 1\n       - acao: ação objetiva que o testador executa, começando com verbo no infinitivo,\n         equivalente ao \"Quando...\" do BDD\n         (ex: \"Preencher todos os campos obrigatórios da NF-e com dados válidos e clicar em Emitir\")\n       - resultado_esperado: comportamento esperado do sistema após a ação,\n         equivalente ao \"Então...\" do BDD\n         (ex: \"O sistema processa a emissão e exibe a mensagem 'NF-e emitida com sucesso'\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "12ff636e-c338-46cc-8379-5fa4f81f4532",
      "name": "Gemini Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        144,
        2384
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto: {{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura (base obrigatória para os casos de teste):\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais (happy path)\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento ou nos esclarecimentos.\n6. Siga rigorosamente a estrutura de campos abaixo:\n   - titulo: nome objetivo do caso de teste (ex: \"Emitir NF-e com dados válidos\")\n   - pre_condicoes: contexto e estado inicial necessário para executar o teste,\n     equivalente ao \"Dado que...\" do BDD\n     (ex: \"Dado que o usuário está autenticado e possui perfil de Emissor\")\n   - passos: array de objetos, cada um com:\n       - numero: inteiro sequencial começando em 1\n       - acao: ação objetiva que o testador executa, começando com verbo no infinitivo,\n         equivalente ao \"Quando...\" do BDD\n         (ex: \"Preencher todos os campos obrigatórios da NF-e com dados válidos e clicar em Emitir\")\n       - resultado_esperado: comportamento esperado do sistema após a ação,\n         equivalente ao \"Então...\" do BDD\n         (ex: \"O sistema processa a emissão e exibe a mensagem 'NF-e emitida com sucesso'\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "6048bb94-65ed-4041-8a2d-f9f18dd0d5ec",
      "name": "Groq Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        560,
        2464
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "id": "fd4d68cf-1bc0-4d2a-830f-6cf47117ea37",
      "name": "Groq Model1",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        944,
        2752
      ],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "efdff955-81b1-45e1-9837-809e567cfc3a",
      "name": "Output Parser Groq1",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1104,
        2752
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto: {{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura (base obrigatória para os casos de teste):\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais (happy path)\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento ou nos esclarecimentos.\n6. Siga rigorosamente a estrutura de campos abaixo:\n   - titulo: nome objetivo do caso de teste (ex: \"Emitir NF-e com dados válidos\")\n   - pre_condicoes: contexto e estado inicial necessário para executar o teste,\n     equivalente ao \"Dado que...\" do BDD\n     (ex: \"Dado que o usuário está autenticado e possui perfil de Emissor\")\n   - passos: array de objetos, cada um com:\n       - numero: inteiro sequencial começando em 1\n       - acao: ação objetiva que o testador executa, começando com verbo no infinitivo,\n         equivalente ao \"Quando...\" do BDD\n         (ex: \"Preencher todos os campos obrigatórios da NF-e com dados válidos e clicar em Emitir\")\n       - resultado_esperado: comportamento esperado do sistema após a ação,\n         equivalente ao \"Então...\" do BDD\n         (ex: \"O sistema processa a emissão e exibe a mensagem 'NF-e emitida com sucesso'\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "3c09319b-9c46-460f-bc7e-3b524918dba1",
      "name": "Groq Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        944,
        2544
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1296,
        2768
      ],
      "id": "3a6016b9-972e-4b4f-95d5-e1dea51b695a",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "9GL9zjvyT2pOocwb",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=IMPORTANTE:\nTodo o conteúdo gerado DEVE estar exclusivamente em Português do Brasil (pt-BR).\nNão utilize palavras, rótulos ou explicações em inglês.\nTodo o conteúdo deve ser natural e profissional em pt-BR.\n\nAtue como um Analista de QA Sênior especializado em design de testes.\n\nProjeto: {{ $json.body.nome_projeto }}\n\nEspecificação funcional:\n{{ $json.body.document_text }}\n\nMatriz de Cobertura (base obrigatória para os casos de teste):\n{{ $json.body.matriz_cobertura }}\n\nEsclarecimentos de negócio:\n{{ $json.body.respostas_duvidas }}\n\nGere casos de teste com base nos itens da Matriz de Cobertura acima.\nA cobertura deve incluir, quando aplicável:\n- Fluxos principais (happy path)\n- Regras de negócio\n- Validações de campos\n- Cenários negativos\n- Fluxos alternativos\n- Tratamento de erros\n- Regras de perfil e permissão\n- Comportamentos de integração\n- Condições de fronteira\n- Persistência de dados\n- Transições de status\n\nRegras:\n1. Gere apenas casos de teste significativos e não duplicados.\n2. Priorize cenários de alto impacto no negócio.\n3. Cada caso de teste deve ser executável de forma independente.\n4. Os passos devem ser detalhados o suficiente para execução manual.\n5. Não invente regras de negócio ausentes no documento ou nos esclarecimentos.\n6. Siga rigorosamente a estrutura de campos abaixo:\n   - titulo: nome objetivo do caso de teste (ex: \"Emitir NF-e com dados válidos\")\n   - pre_condicoes: contexto e estado inicial necessário para executar o teste,\n     equivalente ao \"Dado que...\" do BDD\n     (ex: \"Dado que o usuário está autenticado e possui perfil de Emissor\")\n   - passos: array de objetos, cada um com:\n       - numero: inteiro sequencial começando em 1\n       - acao: ação objetiva que o testador executa, começando com verbo no infinitivo,\n         equivalente ao \"Quando...\" do BDD\n         (ex: \"Preencher todos os campos obrigatórios da NF-e com dados válidos e clicar em Emitir\")\n       - resultado_esperado: comportamento esperado do sistema após a ação,\n         equivalente ao \"Então...\" do BDD\n         (ex: \"O sistema processa a emissão e exibe a mensagem 'NF-e emitida com sucesso'\")\n\nRetorne APENAS JSON válido conforme o schema. Nenhum texto adicional.",
        "hasOutputParser": true
      },
      "id": "301f6f46-a740-4df4-986a-7e3d332c15d4",
      "name": "Mistral Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1296,
        2576
      ]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "7afb0cdf-a27d-4243-bf93-245bd8db6cb0",
      "name": "Output Parser Groq2",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [
        1472,
        2768
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Generation": {
      "main": [
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Gemini Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser OpenAI": {
      "ai_outputParser": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "OpenAI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Gemini Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Groq Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq1": {
      "ai_outputParser": [
        [
          {
            "node": "Groq Chain1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chain1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mistral Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq2": {
      "ai_outputParser": [
        [
          {
            "node": "Mistral Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Chain": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "057adab6-30bd-4471-aec5-a7de94ebed43",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  },
  "id": "O1qHsHT8JqLw3X0T",
  "tags": []
}