n8n_workflows/n8n_flow_generation_ha.json
{
  "name": "Doc_QA_Generation_HA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-generation",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-generation",
      "name": "Webhook Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300],
      "credentials": {
        "httpHeaderAuth": {
          "id": "VCDmXunueUpMXjJh",
          "name": "Header Auth account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAct as a Senior QA Analyst. Generate BDD/step-by-step test cases for project '{{ $json.body.nome_projeto }}'.\nUse the following functional document:\n{{ $json.body.document_text }}\n\nIncorporate these business resolutions/clarifications:\n{{ $json.body.respostas_duvidas }}\n\nReturn ONLY a valid JSON matching the schema provided. Generate realistic and exhaustive steps.",
        "hasOutputParser": true
      },
      "id": "chain-gemini-gen",
      "name": "Primary Chain (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [220, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "id": "model-gemini-gen",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [220, 500],
      "credentials": {
        "googlePalmApi": {
          "id": "AbTZUtCZlIUnulL4",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "parser-gemini-gen",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [380, 500]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAct as a Senior QA Analyst. Generate BDD/step-by-step test cases for project '{{ $('Webhook Generation').item.json.body.nome_projeto }}'.\nUse the following functional document:\n{{ $('Webhook Generation').item.json.body.document_text }}\n\nIncorporate these business resolutions/clarifications:\n{{ $('Webhook Generation').item.json.body.respostas_duvidas }}\n\nReturn ONLY a valid JSON matching the schema provided. Generate realistic and exhaustive steps.",
        "hasOutputParser": true
      },
      "id": "chain-groq-gen",
      "name": "Fallback Chain (Groq)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [600, 150]
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "model-groq-gen",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [600, 350],
      "credentials": {
        "groqApi": {
          "id": "zbYe35SnbFEOa8Ow",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": { \"type\": \"string\" },\n          \"titulo\": { \"type\": \"string\" },\n          \"pre_condicoes\": { \"type\": \"string\" },\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": { \"type\": \"number\" },\n                \"acao\": { \"type\": \"string\" },\n                \"resultado_esperado\": { \"type\": \"string\" }\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "parser-groq-gen",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [760, 350]
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "output": "first"
      },
      "id": "merge-generation",
      "name": "Merge Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [950, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json.output ?? $json }}",
        "options": {}
      },
      "id": "respond-generation",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [1150, 300]
    }
  ],
  "connections": {
    "Webhook Generation": {
      "main": [
        [
          { "node": "Primary Chain (Gemini)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Primary Chain (Gemini)": {
      "main": [
        [
          { "node": "Merge Results", "type": "main", "index": 0 }
        ],
        [
          { "node": "Fallback Chain (Groq)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Fallback Chain (Groq)": {
      "main": [
        [
          { "node": "Merge Results", "type": "main", "index": 1 }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          { "node": "Primary Chain (Gemini)", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          { "node": "Primary Chain (Gemini)", "type": "ai_outputParser", "index": 0 }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          { "node": "Fallback Chain (Groq)", "type": "ai_languageModel", "index": 0 }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          { "node": "Fallback Chain (Groq)", "type": "ai_outputParser", "index": 0 }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "instanceId": "562c7355cd5a3106fec1249023da836a71cbf8a0d3aa8209a4d6e83ae9e3b852"
  }
}