n8n_workflows/n8n_flow_generation_ha.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-generation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-generation",
      "name": "Webhook Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAct as a Senior QA Analyst. Generate BDD/step-by-step test cases for project '{{ $('Webhook Generation').item.json.body.nome_projeto }}'.\nUse the following functional document:\n{{ $('Webhook Generation').item.json.body.document_text }}\n\nIncorporate these business resolutions/clarifications:\n{{ $('Webhook Generation').item.json.body.respostas_duvidas }}\n\nReturn ONLY a valid JSON matching the schema provided. Generate realistic and exhaustive steps.",
        "hasOutputParser": true
      },
      "id": "chain-gemini-gen",
      "name": "Primary Chain (Gemini)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [220, 300],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash-latest",
        "options": {}
      },
      "id": "model-gemini-gen",
      "name": "Google Gemini",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [220, 500]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\"type\": \"string\"},\n          \"titulo\": {\"type\": \"string\"},\n          \"pre_condicoes\": {\"type\": \"string\"},\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\"type\": \"number\"},\n                \"acao\": {\"type\": \"string\"},\n                \"resultado_esperado\": {\"type\": \"string\"}\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "parser-gemini-gen",
      "name": "Output Parser Gemini",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [380, 500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-error-exists",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-fallback-gen",
      "name": "Check HTTP Error",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3.1,
      "position": [600, 300]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAct as a Senior QA Analyst. Generate BDD/step-by-step test cases for project '{{ $('Webhook Generation').item.json.body.nome_projeto }}'.\nUse the following functional document:\n{{ $('Webhook Generation').item.json.body.document_text }}\n\nIncorporate these business resolutions/clarifications:\n{{ $('Webhook Generation').item.json.body.respostas_duvidas }}\n\nReturn ONLY a valid JSON matching the schema provided. Generate realistic and exhaustive steps.",
        "hasOutputParser": true
      },
      "id": "chain-groq-gen",
      "name": "Fallback Chain (Groq)",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [850, 150]
    },
    {
      "parameters": {
        "model": "llama3-70b-8192",
        "options": {}
      },
      "id": "model-groq-gen",
      "name": "Groq Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [850, 350]
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\"type\": \"string\"},\n          \"titulo\": {\"type\": \"string\"},\n          \"pre_condicoes\": {\"type\": \"string\"},\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\"type\": \"number\"},\n                \"acao\": {\"type\": \"string\"},\n                \"resultado_esperado\": {\"type\": \"string\"}\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "parser-groq-gen",
      "name": "Output Parser Groq",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [1000, 350]
    }
  ],
  "connections": {
    "Webhook Generation": {
      "main": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Primary Chain (Gemini)": {
      "main": [
        [
          {
            "node": "Check HTTP Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check HTTP Error": {
      "main": [
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini": {
      "ai_languageModel": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Gemini": {
      "ai_outputParser": [
        [
          {
            "node": "Primary Chain (Gemini)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Groq Model": {
      "ai_languageModel": [
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output Parser Groq": {
      "ai_outputParser": [
        [
          {
            "node": "Fallback Chain (Groq)",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  }
}