n8n_workflows/n8n_flow_generation.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "qa-testgen-generation",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-generation",
      "name": "Webhook Generation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [0, 0]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nAct as a Senior QA Analyst. Generate BDD/step-by-step test cases for project '{{ $json.body.nome_projeto }}'.\nUse the following functional document:\n{{ $json.body.document_text }}\n\nIncorporate these business resolutions/clarifications:\n{{ $json.body.respostas_duvidas }}\n\nReturn ONLY a valid JSON matching the schema provided. Generate realistic and exhaustive steps.",
        "hasOutputParser": true
      },
      "id": "llm-chain-generation",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [220, 0]
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-pro-latest",
        "options": {}
      },
      "id": "gemini-model-generation",
      "name": "Google Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [220, 200]
    },
     {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"casos_de_teste\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"properties\": {\n          \"id\": {\"type\": \"string\"},\n          \"titulo\": {\"type\": \"string\"},\n          \"pre_condicoes\": {\"type\": \"string\"},\n          \"passos\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"object\",\n              \"properties\": {\n                \"numero\": {\"type\": \"number\"},\n                \"acao\": {\"type\": \"string\"},\n                \"resultado_esperado\": {\"type\": \"string\"}\n              }\n            }\n          }\n        }\n      }\n    }\n  }\n}"
      },
      "id": "output-parser-generation",
      "name": "Structured Output Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.1,
      "position": [380, 200]
    }
  ],
  "connections": {
    "Webhook Generation": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  }
}